<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="base::layout(~{::section})">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
<h1>Home</h1>
<section>

	<div class="backimg">
		<div class="text-white text-center" th:action ="@{/signup}">
			<h1>ENotes- Save Notes</h1>
			<p>Start collecting your contact very smart way.
				We provide very efficient and smarter way of holdings contacts.</p>
			<a class="btn bg-primary ms-2">Get Started</a>
		</div>
	</div>

</section>
</body>
</html>